/*Main container for the hero section*/
.mainContainerBackground {
    display: flex;
    min-height: 603px;
    width: 100%;
    background: url(@/assets/BerryBowl.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 1rem;
}

.text {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.text .P1 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 320;
    margin-top: 40px;
    margin-bottom: 80px;
} 

.text .P2 {
    font-size: 1.8rem;
    width: 40rem;
    color:#fff;
    margin-bottom: 80px;
}
.text h1 {
    color: #fff;
    font-weight: 600;
    font-size: 120px;
    width: 350px;
    line-height: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.signup  {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 46px;
    right: 8em;    
}


