.mainContainerBackground {
    display: flex;
    min-height: 820px;
    width: 100%;
    background: url(@/assets/BerryBowl.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

/*Restrauarant name & singin button*/

.PrelumAndSignIn {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;

    
}

.PrelumAndSignIn .P1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 320;
    position: absolute;
    left : 8.5rem;
    
}

.PrelumAndSignIn button {
    width: 14rem;
    height: 5.5rem;
    font-size: 1.59rem;
    border-radius: 8px;
    background-color: #e05f23;
    color: #fff;
    cursor: pointer;
    border: none;
    position: absolute;
    right : 8.5rem;
    
}

.PrelumAndSignIn button:hover {
    color: #050505;
}

/*Text section*/
.TextSection h1 {
    font-weight: 600;
    font-size: 7.59rem;
    width: 350px;
    line-height: 120px;
    margin-bottom: 3rem;
}

.TextSection {
    margin-top: 10rem;
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    width: 56rem;
    position: absolute;
    left : 8.5rem;
    
}



/*learn more button*/
.TextSection button {
    width: 16rem;
    height: 5.95rem;
    background-color: #e05f23;
    font-size: 1.61rem;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.TextSection button:hover {
    color: #050505;
}

/*Sign up button */
.signup button {
    width: 14rem;
    height: 5.5rem;
    font-size: 1.59rem;
    border-radius: 8px;
    background-color: #e05f23;
    color: #fff;
    cursor: pointer;
    border: none;
}

.signup button:hover {
    color: #050505;
}



