.mainContainerBackground {
    display: flex;
    flex-wrap: wrap;
    min-height: 820px;
    width: 100%;
    background: url(@/assets/BerryBowl.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2rem;
}

/*Restrauarant name & singin button*/

.PrelumAndSignIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem; 
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.PrelumAndSignIn .P1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
    font-weight: 320;
    position: absolute;
    left : 8.5rem;
}

.PrelumAndSignIn button {
    width: 14rem;
    height: 5.5rem;
    font-size: 1.59rem;
    border-radius: 8px;
    background-color: #e05f23;
    color: #fff;
    cursor: pointer;
    border: none;
    position: absolute;
    right : 8.5rem;
    
}

.PrelumAndSignIn button:hover {
    color: #050505;
}

/*Text section*/
.TextSection h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 6.59rem;
    width: 0px;
    line-height: 74px;
    margin-bottom: 6rem;
}

.TextSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    width: 44%;
}



/*learn more button*/
.TextSection button {
    width: 16rem;
    height: 5.95rem;
    background-color: #e05f23;
    font-size: 1.61rem;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.TextSection button:hover {
    color: #050505;
}

/*Sign up button */
.signup button {
    width: 14rem;
    height: 5.5rem;
    font-size: 1.59rem;
    border-radius: 8px;
    background-color: #e05f23;
    color: #fff;
    cursor: pointer;
    border: none;
}

.signup button:hover {
    color: #050505;
}

.P2 {
    font-size: 4rem;
    margin-bottom: 5rem;
    width: 56rem;
}




