/*Main feature section*/
.mainFeature {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    background-color: #1F262F; 
    color: #fff;
    background-size: cover;
    position: relative;
    padding: 3.0rem;
}

/*Sub-Main container*/
.subMainFeature .orangeImage img {
    width: 18rem;
    height: auto;
}

.subMainFeature {
    padding: 40px;
}

.SubHeader h1 {
    font-size: 100px;
    font-family: 'Nunito';
    font-weight: 1rem;
}

p {
    color:#bfc3c9;
    font-size: 16px;
}

/*Image of orange juice*/
.FeatureSecOrangeGlass img {
    width: 34rem;
    height: 30rem;
    border-radius: 10px;
}
.orangeAndText{
    display:flex;
    margin-top: 40px;
    width: 30rem;
}


