/*Main feature section*/
.mainFeature {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    background-color: #1F262F; 
    color: #fff;
    background-size: cover;
    position: relative;
    padding: 3.5rem;
}

/*Sub-Main container*/
.subMainFeature .orangeImage img {
    align-items: center;
    width: 10rem;
    height: 10rem;
}

.SubHeader h1 {
    font-size: 72px;
    font-family: 'Nunito';
    font-weight: 1rem;
}

p {
    color:#bfc3c9;
    font-size: 16px;
}

/*Image of orange juice*/
.FeatureSecOrangeGlass img {
    width: 42%;
    height: 42%;
    margin-left: 55rem;
}

/*Tablet view 769px to 992px*/
@media screen and (min-width: 769px) and (max-width: 992px) {
       .mainFeature {
        flex-wrap: wrap;
        flex-direction: column;
       }
}