.backgroundImg{
    height: 60vh;
    width: 100%;
    background: url(../Hero/BerryBowl.png) no-repeat;
    background-size: cover;
    position: relative;
    padding: 9px 8px 6px 3px;
}

.text {
    display: inline-block;
    font-family: 'Playfair Display', 'Courier, monospace';
}

.learnmore {
    display: flex;
    color: #fff;
    background-color: #FB6117;
    text-decoration: none;
    width: 120px;
    height: auto;
}

.signup {
    display: flex;
    background-color: #FB6117;
    width: 80px;
    height: auto;
}

.signUp {
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: right;
}