.backgroundImg{
    height: 80vh;
    width: 100%;
    background: url(../Hero/BerryBowl.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 9px 8px 6px 3px;
}

.text {
    display: inline-block;
    font-family: 'Playfair Display', 'Courier, monospace';
}


.learnmore {
    display: flex;
    color: #fff;
    background-color: #FB6117;
    text-decoration: none;
    width: 120px;
    height: auto;
}

.signup  {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    right: 5em;
}

.signUp {
    display: flex;
    font-family: Poppins, 'sans-serif';
    color: #fff;
    text-decoration: none;
    justify-content: right;
}