/*1. Main footer section */
.footerMain {
    display: flex;
    background-color: #10171f;
    color: #fff;
    padding: 3.5rem;
    gap: 7.5rem;
    justify-content: space-evenly;
}

/*2. first image card that has the berries*/
.footerCard img {
    border-radius: 5px;
    max-width: 100%;
    height: 23rem;
}

/*3. The fresh, vitamin and Ore container*/
.subFooterCard {
     display: flex;
     gap: 40px;
}

/*4. h1 font and sizes */
.ourMenu  {
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    align-items: flex-start;
}

/*5. icons settings */
.fresh .icon1 , .vitamin .icon2, .OreAnic .icon3 {
    width: 60px;
    height: 100%;
}

/*6. fresh container */
.fresh, .vitamin, .OreAnic {
    width: 70px;
    height: 26px;
}

/* 7. h1 font size */
.fresh h1, .vitamin h1, .OreAnic h1 {
    display:inline-flex;
    font-size: 2rem;
}

.daysAndhours {
    margin-top: 12px;
}