/*Main body of the footer*/
.footerMain {
    display: flex;
    background-color: #10171f;
    border: 50px;
    padding: 2.8rem;
    color: #fff;
}

/*info section for the info container*/
.info {
    padding-left: 140px;
    padding-right: 15px;
}

.info .infoHeader{
    justify-content: center;
}

.info .infoHeader h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2.75rem;
    align-items: flex-start;
}

.info .container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
}

/*fresh class*/
.container .fresh h1 {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}

.container .fresh p {
    width: 120px;
    font-size: 16px;
    color: #838588;
}

/*vitamin class*/
.container .vitamin h1 {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}
.container .vitamin p {
    display: flex;
    width: 120px;
    margin-left: 6px;
    font-size: 16px;
    color: #838588;
}

/*OreAnic class*/
.container .OreAnic h1 {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}

.container .OreAnic p {
    width: 120px;
    margin-left: 20px;
    color: #838588;
    font-size: 16px;
}

/*Opening Hours section*/
.OperationHours {
    border-left: 0.1rem solid grey;
    height: 480px;
    margin-left: 50px;
    font-family: 'Nunito';
    font-size: 1.58rem;
}

.OperationHours h1 {
    margin-left: 40px;
    margin-bottom: 2.3rem;
}
.daysAndhours {
    margin-left: 40px;
}
.dayRow {
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    gap: 10rem;
}

.quicklink {
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-right: 16rem;
}

/*image*/
.imageCard {
    display: flex;
}
.imageCard img {
    display: inline-block;
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
}

/*Hello box or card eitherway */ 
.helloBox {
    position: absolute;
    background-color: #fff;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    font-weight: 730;
    width: 16rem;
    height: 7rem;
    margin-left: 110px;
    margin-top: 200px;
    border-radius: 7px;
    text-align: center;
    padding-top: 33px;
} 


