/*Main section*/
.aboutSection {
    display: flex;
    background-color: #1F262F;
    border: 50px;
    padding: 3.5rem;
    justify-content: space-evenly;
}

.aboutSection .aboutText p {
    font-family: "Poppins", sans-serif;
    font-size: 5.8em;
    color: #fff;
    width: 110%;
    line-height: 70px;
}

/*container for the two cards*/
.aboutImageCard img {
    display: flex;
    width: 22vw;
    margin-right: 40px;
    margin-left: 180px;
    border-radius: 10px;
}
.containerCard {
    display: flex;
    align-items:flex-start;
    margin-right: 3.25rem;
    margin-left: 20px;
}

/*Card box for text and button*/
.cardBox {
    display: flex;
    width: 23vw;
    height: 36vh;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    
}

.cardBox h1 {
   font-family: 'Nunito', 'ExtraLight';
   font-size: 1.5rem;
   width: 15.8rem;
   margin-top: 60px;
   margin-left: 40px;
}

/*Tablet view 769px to 992px*/
@media screen and (min-width: 769px) and (max-width: 992px) {
       .aboutSection {
        flex-wrap: wrap;
        flex-direction: column;
       }
}

