.aboutSection {
    display: flex;
    background-color: #1F262F;
    border: 50px;
    padding: 16rem;
}

.aboutSection .aboutText p {
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    color: #fff;
    width: 30%;
}

.aboutImageCard img {
    display: flex;
    width: 80%;
    height: 80%;
    margin-right: 80px;
}

.cardBox {
    width: 80vw;
    height: 60vh;
    background-color: #fff;
}