/*Main section*/
.aboutSection {
    display: flex;
    background-color: #1b222b;
    border: 50px;
    padding: 3.5rem;
    justify-content: space-evenly;
}

.aboutSection .aboutText p {
    font-family: "Poppins", sans-serif;
    font-size: 5.1em;
    color: #fff;
    width: 32vw;
    line-height: 5.2rem;
}

/*container for the two cards*/
.aboutImageCard img {
    display: flex;
    width: 23vw;
    height: 100%;
    margin-right: 40px;
    margin-left: 180px;
    border-radius: 10px;
}
.containerCard {
    display: flex;
    
    margin-right: 3.6rem;
    margin-left: auto;
}

/*Card box for text and button*/
.cardBox {
    display: flex;
    width: 20vw;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.cardBox h2 {
   font-family: 'Nunito', 'ExtraLight';
   font-size: 1.6rem;
   width: 15.8rem;
   margin-top: 40px;
   margin-left: 1.9rem;
}

.cardBox h1 {
    font-family: 'Nunito', 'ExtraLight';
    font-size: 2.2rem;
    margin-left: 3.1rem;
}

.cardBox .Wotv {
    color: black;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
}

.cardBox .diverOne{
     border-bottom: rem solid black; 
     width: 16.2rem;
     
}

.cardBox .Ruoedll {
    color: black;
    font-size: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.cardBox .diverTwo {
     border-bottom:  black; 
     width: 10rem;
     margin-bottom: 2.6rem;
}

