/*Main section*/
.aboutMain {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b222b;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 3.5rem;
}

/* about card the first one with the <p> without a className*/
/* 1 */
.aboutCard .JustImagine {
    font-family: "Poppins", sans-serif;
    font-size: 4.5rem;
    color: #fff;
    width: 26vw;
}

/* about card the second one with the strewberry image */
/* 2 */
.aboutCard img {
    display: block;
    max-width: 100%;
    height: 36rem;
    border-radius: 10px;
}

/* 3. third card the background white color */
.aboutCardBackground {
   display: block;
    width: 50rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

/* 3.1 the about background white color card*/
.aboutCard {
    display: block;
    width: auto;
    height: auto;
   
}

/* 4. the font and postioning of h2*/
.aboutCardBackground .EBEE {
   font-family: 'Nunito', 'ExtraLight';
   font-size: 2rem;
}

/* 5. the font and postioning of h1*/
.aboutCardBackground h1 {
    font-family: 'Nunito', 'ExtraLight';
    font-size: 2.2rem;
    margin-left: 3rem;
}

/* 6 the font and positiong for the <p> of Wotv class*/
.aboutCardBackground .Wotv {
    color: black;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
}

/* 7 the font and postioning of a the first divider line */
.aboutCardBackground .diverOne {
     border-bottom: rem solid black; 
     width: 16.2rem;
}

/* 8 the font and positioning of Ruoedll class*/
.aboutCardBackground, .Ruoedll {
    color: black;
    font-size: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

/* 9 the font and positioning of divider two class*/
.aboutCardBackground .diverTwo {
     border-bottom:  black; 
     width: 10rem;
     margin-bottom: 1rem;
}

/* 10 Head more button styling */
.aboutCardBackground button {
    font-size: 1.2rem;
    width: 12rem;
    height: 4rem;
    border-radius: 5px;
    color: #fff;
    background-color: #e05f23;
    border: none;
    cursor: pointer;
}

.aboutCardBackground button:hover {
    color: #050505;
}

/* 11. Hover over the 3 main cards */
.aboutCard:hover {
    transform: translateY(20px);
}

/*11.1. Hover on the white background card*/
.aboutCardBackground:hover {
    transform: translateY(20px);
}