.footerMain {
    display: flex;
    background-color: #10171f;
    border: 50px;
    padding: 6.5rem;
    color: #fff;
}

.info {
    margin-left: 40px;
    padding: auto;
}

.info .infoHeader h1{
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    align-items: flex-start;
}

.info .container {
    display: flex;
    margin-top: 30px;
}

.container .fresh p {
    display: flex;
    width: 120px;
}

.container .vitamin p {
    display: flex;
    width: 120px;
}

.container .OreAnic p {
    display: flex;
    width: 120px;
}