/*Main body of the footer*/
.footerMain {
    display: flex;
    background-color: #10171f;
    border: 50px;
    padding: 2.8rem;
    color: #fff;
}

/*info section for the info container*/
.info {
    margin-left: 140px;
    padding: 15px;
}

.info .infoHeader{
    justify-content: center;
}

.info .infoHeader h1{
    font-family: 'Nunito';
    font-size: 50px;
    align-items: flex-start;
}

.info .container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
    
}

/*fresh class*/
.container .fresh h1 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}

.container .fresh p {
    width: 120px;
    font-size: 16px;
    color: #838588;
}

/*vitamin class*/
.container .vitamin h1 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}
.container .vitamin p {
    display: flex;
    width: 120px;
    margin-left: 6px;
    font-size: 16px;
    color: #838588;
}

/*OreAnic class*/
.container .OreAnic h1 {
    font-size: 38px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 8px;
}

.container .OreAnic p {
    width: 120px;
    margin-left: 20px;
    color: #838588;
}

/*Opening Hours section*/

.OperationHours {
    border-left: 1px solid #fff;
    height: 480px;
    margin-left: 8%;
    font-family: 'Nunito';
    font-size: 20px;
}

.OperationHours h1 {
    margin-left: 40px;
}

/*image*/
.imageCard {
    display: flex;
}
.imageCard img {
    display: inline-block;
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
}

/*icons*/
.container .icon1 {
    width: 60px;
    height: 60px;
}

.icon2  {
    width: 60px;
    height: 60px;
}

.icon3 {
    width: 60px;
    height: 60px;
}

/*Hello box or card eitherway
.helloBox {
    border: 1px solid #fff;
    background-color: #fff;
    color: black;
    width: 50px;
    margin-left: 10px;
} */ 

/*Tablet view 769px to 992px*/
@media screen and (min-width: 769px) and (max-width: 992px) {
       .footerMain {
        flex-wrap: wrap;
        flex-direction: column;
       }
}
