.Navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1f252c;
}

.logo img {
    height: 40px;
    display: block;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 50px;
}