/*Main feature section*/
.mainFeature {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    height: 60vh;
    width: 100%;
    background-color: #1b222b; 
    color: #fff;
    position: relative;
    padding: 3rem;
    align-items: center; 
    gap: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

/*Sub-Main container*/
.subMainFeature .orangeImage img {
    display: block;
    max-width: 100%;
    width: 20rem;
    height: auto;
    object-fit: contain;
}
.subMainFeature {
    flex: 1 1 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.SubHeader h1 {
    font-size: 100px;
    font-family: 'Nunito', sans-serif;
    font-weight: 550;
    line-height: 1.1;
    letter-spacing: -2%;
    margin-bottom:  1rem;
    margin-left: 64px;
}
.SubHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SubHeader .orangeAndText{
    display:flex;
    align-items: flex-start;
    gap: 1.3rem;
}

.orangeImage img {
    width: 100%;
    height: auto;
}

p {
    color:#f0f5fc;
    font-size: 28px;
    line-height: 1.6;
    margin-top: 0.80rem;
    margin-bottom: 1.5rem; 
    width: 82%;
    max-width: 100%;
}

/*Image of orange juice*/
.FeatureSecOrangeGlass img {
    min-width: 34rem;
    height: 30rem;
    border-radius: 10px;
    object-fit: contain;
}

/*Button*/
.MainText button {
    width: 12rem;
    height: 4rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #e05f23;
    border: none; /*or outline: none*/
}

.MainText button:hover {
    color: #050505;
}


