/* 1. Main feature section*/
.mainFeature {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b222b;
    color: #fff;
    justify-content: center;
    padding: 1.5rem;
    gap: 40.5rem;
}

.FeatureSecOrangeGlass {
    width: 56rem;
}

.FeatureSecOrangeGlass img {
    height: 34rem;
    width: 66rem;
    border-radius: 5px;
}

/* Orange and text class for the card */
.orangeAndText {
    width: 53rem;
    height: 22rem;
}

.orangeAndText .MainTextImgAndText img {
    width: 17rem;
    height: 11rem;
}

.FeatureSecOrangeGlass {
    width: 66rem;
}

.Orange {
    font-size: 45px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-top: 4.5rem;
    margin-bottom: 4rem;
}

.MainText p {
    color:#f0f5fc;
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

/*Button*/
.MainText button {
    width: 12rem;
    height: 4rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #e05f23;
    border: none; /*or outline: none*/
}

.MainText button:hover {
    color: #050505;
}


/*Button*/
.MainText button {
    width: 16rem;
    height: 5rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    background-color: #e05f23;
    border: none; /*or outline: none*/
}

.MainText button:hover {
    color: #e05f23;
    background-color: #fff;
}

.MainTextImgAndText {
    display: flex;
}