@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 38, 38);
    min-height: 100vh;
}